/* STYLE SECTIONING TAGS */
*{
  margin:0px;
  padding:0px;
}
body {
 background-color: #598391;
 
}

/* STYLE TEXT */


h1 {
  color: navy;
  font-family: "palatino linotype", sans-serif;
  text-align: center;
  padding-top: 1em;
  padding-bottom: 1em;
   font-size: 35px;
  text-shadow: 2px 2px 5px;
}
main{ text-align: center;
    margin-top: 0%;
    magin-bottom: 0%;
    margin-left: 3%;
    magin-right: 1%
    }

p {color:#BC5B53;
  font-size: 25px;
  text-align: left;}
h2 {color: navy;
   font-family: "palatino linotype", sans-serif;
    font-size: 35px;
   text-align: center;
   padding-top: 1em;
   padding-bottom: 1em;
    text-decoration: overline dotted yellow;
   }
.my-line {
         height:2px;}
.description {
  text-align: center;
}
.list {
  background-color: #003046;
  text-align: center;
  color: white;
  line-height:1.6;
}

/* STYLE IMAGES */
header {text-align: right;}
img {max-width: 50%;
     max-height:50%;
    border-radius: 15%;
    border: 3px solid white}
#myPet {max-width: 90%;
        max-height:90%;
       border-radius: 0%;
        border: 0px}
#bucket {max-width:60%;
        max-height: 60%;
        border: 6px solid yellow;
        }
#draw {
  border: 6px solid yellow;
  
}

/* STYLE NAV BAR */
ul {
  list-style-type: none;
  background-color: #003046;
  overflow:hidden;
  padding:1em
}
li {display: inline;
   }
li a {text-decoration: none;
     color: pink;
     font-size: 1.3em;
     padding:1em;}
li a:hover {background-color: #43d6b9;}
